.pie {
	height: 150px;
	width: 150px;
	display: inline-block;
    background: #ddd;
    background-image: linear-gradient(to right, transparent 50%, #678668 0);
	border-radius: 50%;
    margin-right: 15px;
}

.pie::before {
    content: '';
    display: block;
    height: 100%;
    background-color: inherit;
    border-radius: 0 100% 100% 0 / 50%;
    margin-left: 50%;
    transform-origin: left;
    animation: pie-spin 50s linear infinite, pie-bg 100s step-end infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}

@keyframes pie-spin {
    to {
        transform: rotate(.5turn);
    }
}

@keyframes pie-bg {
    50% {
        background: #678668;
    }
}

.pie-0 {
    animation-delay: -0s;
}
.pie-1 {
    animation-delay: -1s;
}
.pie-2 {
    animation-delay: -2s;
}
.pie-3 {
    animation-delay: -3s;
}
.pie-4 {
    animation-delay: -4s;
}
.pie-5 {
    animation-delay: -5s;
}
.pie-6 {
    animation-delay: -6s;
}
.pie-7 {
    animation-delay: -7s;
}
.pie-8 {
    animation-delay: -8s;
}
.pie-9 {
    animation-delay: -9s;
}
.pie-10 {
    animation-delay: -10s;
}
.pie-11 {
    animation-delay: -11s;
}
.pie-12 {
    animation-delay: -12s;
}
.pie-13 {
    animation-delay: -13s;
}
.pie-14 {
    animation-delay: -14s;
}
.pie-15 {
    animation-delay: -15s;
}
.pie-16 {
    animation-delay: -16s;
}
.pie-17 {
    animation-delay: -17s;
}
.pie-18 {
    animation-delay: -18s;
}
.pie-19 {
    animation-delay: -19s;
}
.pie-20 {
    animation-delay: -20s;
}
.pie-21 {
    animation-delay: -21s;
}
.pie-22 {
    animation-delay: -22s;
}
.pie-23 {
    animation-delay: -23s;
}
.pie-24 {
    animation-delay: -24s;
}
.pie-25 {
    animation-delay: -25s;
}
.pie-26 {
    animation-delay: -26s;
}
.pie-27 {
    animation-delay: -27s;
}
.pie-28 {
    animation-delay: -28s;
}
.pie-29 {
    animation-delay: -29s;
}
.pie-30 {
    animation-delay: -30s;
}
.pie-31 {
    animation-delay: -31s;
}
.pie-32 {
    animation-delay: -32s;
}
.pie-33 {
    animation-delay: -33s;
}
.pie-34 {
    animation-delay: -34s;
}
.pie-35 {
    animation-delay: -35s;
}
.pie-36 {
    animation-delay: -36s;
}
.pie-37 {
    animation-delay: -37s;
}
.pie-38 {
    animation-delay: -38s;
}
.pie-39 {
    animation-delay: -39s;
}
.pie-40 {
    animation-delay: -40s;
}
.pie-41 {
    animation-delay: -41s;
}
.pie-42 {
    animation-delay: -42s;
}
.pie-43 {
    animation-delay: -43s;
}
.pie-44 {
    animation-delay: -44s;
}
.pie-45 {
    animation-delay: -45s;
}
.pie-46 {
    animation-delay: -46s;
}
.pie-47 {
    animation-delay: -47s;
}
.pie-48 {
    animation-delay: -48s;
}
.pie-49 {
    animation-delay: -49s;
}
.pie-50 {
    animation-delay: -50s;
}
.pie-51 {
    animation-delay: -51s;
}
.pie-52 {
    animation-delay: -52s;
}
.pie-53 {
    animation-delay: -53s;
}
.pie-54 {
    animation-delay: -54s;
}
.pie-55 {
    animation-delay: -55s;
}
.pie-56 {
    animation-delay: -56s;
}
.pie-57 {
    animation-delay: -57s;
}
.pie-58 {
    animation-delay: -58s;
}
.pie-59 {
    animation-delay: -59s;
}
.pie-60 {
    animation-delay: -60s;
}
.pie-61 {
    animation-delay: -61s;
}
.pie-62 {
    animation-delay: -62s;
}
.pie-63 {
    animation-delay: -63s;
}
.pie-64 {
    animation-delay: -64s;
}
.pie-65 {
    animation-delay: -65s;
}
.pie-66 {
    animation-delay: -66s;
}
.pie-67 {
    animation-delay: -67s;
}
.pie-68 {
    animation-delay: -68s;
}
.pie-69 {
    animation-delay: -69s;
}
.pie-70 {
    animation-delay: -70s;
}
.pie-71 {
    animation-delay: -71s;
}
.pie-72 {
    animation-delay: -72s;
}
.pie-73 {
    animation-delay: -73s;
}
.pie-74 {
    animation-delay: -74s;
}
.pie-75 {
    animation-delay: -75s;
}
.pie-76 {
    animation-delay: -76s;
}
.pie-77 {
    animation-delay: -77s;
}
.pie-78 {
    animation-delay: -78s;
}
.pie-79 {
    animation-delay: -79s;
}
.pie-80 {
    animation-delay: -80s;
}
.pie-81 {
    animation-delay: -81s;
}
.pie-82 {
    animation-delay: -82s;
}
.pie-83 {
    animation-delay: -83s;
}
.pie-84 {
    animation-delay: -84s;
}
.pie-85 {
    animation-delay: -85s;
}
.pie-86 {
    animation-delay: -86s;
}
.pie-87 {
    animation-delay: -87s;
}
.pie-88 {
    animation-delay: -88s;
}
.pie-89 {
    animation-delay: -89s;
}
.pie-90 {
    animation-delay: -90s;
}
.pie-91 {
    animation-delay: -91s;
}
.pie-92 {
    animation-delay: -92s;
}
.pie-93 {
    animation-delay: -93s;
}
.pie-94 {
    animation-delay: -94s;
}
.pie-95 {
    animation-delay: -95s;
}
.pie-96 {
    animation-delay: -96s;
}
.pie-97 {
    animation-delay: -97s;
}
.pie-98 {
    animation-delay: -98s;
}
.pie-99 {
    animation-delay: -99s;
}
.pie-100 {
    animation-delay: -99.9s;
}