.pie * {
    z-index: 3;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 2px 2px 5px black;
    margin: 0;
    text-align: center;
}

.pie {
	height: 150px;
	width: 150px;
	display: flex;
	background: #00b;
	border-radius: 75px;
	position: relative;
	transition: all 0.5s linear;
    justify-content: center;
    align-items: center;
}

.pie::before, .pie::after {
	content: '';
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
	border-radius: 75px;
	width: 100%;
	height: 100%;
	display: block;
	transition: all 0.5s linear;
}

.pie::before {
	background: linear-gradient(to left, transparent 50%, #bbb 0);
	z-index: 1;
}

.pie-0::after,.pie-1::after,.pie-2::after,.pie-3::after,.pie-4::after,.pie-5::after,
.pie-6::after,.pie-7::after,.pie-8::after,.pie-9::after,.pie-10::after,
.pie-11::after,.pie-12::after,.pie-13::after,.pie-14::after,.pie-15::after,
.pie-16::after,.pie-17::after,.pie-18::after,.pie-19::after,.pie-20::after,
.pie-21::after,.pie-22::after,.pie-23::after,.pie-24::after,.pie-25::after,
.pie-26::after,.pie-27::after,.pie-28::after,.pie-29::after,.pie-30::after,
.pie-31::after,.pie-32::after,.pie-33::after,.pie-34::after,.pie-35::after,
.pie-36::after,.pie-37::after,.pie-38::after,.pie-39::after,.pie-40::after,
.pie-41::after,.pie-42::after,.pie-43::after,.pie-44::after,.pie-45::after,
.pie-46::after,.pie-47::after,.pie-48::after,.pie-49::after,.pie-50::after {
    background: linear-gradient(to left, transparent 50%, #bbb 0) !important;
    z-index: 2;
}

.pie::after {
	background: linear-gradient(to right, transparent 50%, #00b 0);
    z-index: 2;
}



.pie-0::before {
	transform: rotate(-180deg);
}
.pie-1::before {
	transform: rotate(-176.4deg);
}
.pie-2::before {
	transform: rotate(-172.8deg);
}
.pie-3::before {
	transform: rotate(-169.2deg);
}
.pie-4::before {
	transform: rotate(-165.6deg);
}
.pie-5::before {
	transform: rotate(-162deg);
}
.pie-6::before {
	transform: rotate(-158.4deg);
}
.pie-7::before {
	transform: rotate(-154.8deg);
}
.pie-8::before {
	transform: rotate(-151.2deg);
}
.pie-9::before {
	transform: rotate(-147.6deg);
}
.pie-10::before {
	transform: rotate(-144deg);
}
.pie-11::before {
	transform: rotate(-140.4deg);
}
.pie-12::before {
	transform: rotate(-136.8deg);
}
.pie-13::before {
	transform: rotate(-133.2deg);
}
.pie-14::before {
	transform: rotate(-129.6deg);
}
.pie-15::before {
	transform: rotate(-126deg);
}
.pie-16::before {
	transform: rotate(-122.4deg);
}
.pie-17::before {
	transform: rotate(-118.8deg);
}
.pie-18::before {
	transform: rotate(-115.2deg);
}
.pie-19::before {
	transform: rotate(-111.6deg);
}
.pie-20::before {
	transform: rotate(-108deg);
}
.pie-21::before {
	transform: rotate(-104.4deg);
}
.pie-22::before {
	transform: rotate(-100.8deg);
}
.pie-23::before {
	transform: rotate(-97.2deg);
}
.pie-24::before {
	transform: rotate(-93.6deg);
}
.pie-25::before {
	transform: rotate(-90deg);
}
.pie-26::before {
	transform: rotate(-86.4deg);
}
.pie-27::before {
	transform: rotate(-82.8deg);
}
.pie-28::before {
	transform: rotate(-79.2deg);
}
.pie-29::before {
	transform: rotate(-75.6deg);
}
.pie-30::before {
	transform: rotate(-72deg);
}
.pie-31::before {
	transform: rotate(-68.4deg);
}
.pie-32::before {
	transform: rotate(-64.8deg);
}
.pie-33::before {
	transform: rotate(-61.2deg);
}
.pie-34::before {
	transform: rotate(-57.6deg);
}
.pie-35::before {
	transform: rotate(-54deg);
}
.pie-36::before {
	transform: rotate(-50.4deg);
}
.pie-37::before {
	transform: rotate(-46.8deg);
}
.pie-38::before {
	transform: rotate(-43.2deg);
}
.pie-39::before {
	transform: rotate(-39.6deg);
}
.pie-40::before {
	transform: rotate(-36deg);
}
.pie-41::before {
	transform: rotate(-32.4deg);
}
.pie-42::before {
	transform: rotate(-28.8deg);
}
.pie-43::before {
	transform: rotate(-25.2deg);
}
.pie-44::before {
	transform: rotate(-21.6deg);
}
.pie-45::before {
	transform: rotate(-18deg);
}
.pie-46::before {
	transform: rotate(-14.4deg);
}
.pie-47::before {
	transform: rotate(-10.8deg);
}
.pie-48::before {
	transform: rotate(-7.2deg);
}
.pie-49::before {
	transform: rotate(-3.6deg);
}
.pie-50::before, .pie-50::after {
	transform: rotate(0deg);
}
.pie-51::after {
    transform: rotate(3.6deg);
}
.pie-52::after {
    transform: rotate(7.2deg);
}
.pie-53::after {
    transform: rotate(10.8deg);
}
.pie-54::after {
    transform: rotate(14.4deg);
}
.pie-55::after {
    transform: rotate(18deg);
}
.pie-56::after {
    transform: rotate(21.6deg);
}
.pie-57::after {
    transform: rotate(25.2deg);
}
.pie-58::after {
    transform: rotate(28.8deg);
}
.pie-59::after {
    transform: rotate(32.4deg);
}
.pie-60::after {
    transform: rotate(36deg);
}
.pie-61::after {
    transform: rotate(39.6deg);
}
.pie-62::after {
    transform: rotate(43.2deg);
}
.pie-63::after {
    transform: rotate(46.8deg);
}
.pie-64::after {
    transform: rotate(50.4deg);
}
.pie-65::after {
    transform: rotate(54deg);
}
.pie-66::after {
    transform: rotate(57.6deg);
}
.pie-67::after {
    transform: rotate(61.2deg);
}
.pie-68::after {
    transform: rotate(64.8deg);
}
.pie-69::after {
    transform: rotate(68.4deg);
}
.pie-70::after {
    transform: rotate(72deg);
}
.pie-71::after {
    transform: rotate(75.6deg);
}
.pie-72::after {
    transform: rotate(79.2deg);
}
.pie-73::after {
    transform: rotate(82.8deg);
}
.pie-74::after {
    transform: rotate(86.4deg);
}
.pie-75::after {
    transform: rotate(90deg);
}
.pie-76::after {
    transform: rotate(93.6deg);
}
.pie-77::after {
    transform: rotate(97.2deg);
}
.pie-78::after {
    transform: rotate(100.8deg);
}
.pie-79::after {
    transform: rotate(104.4deg);
}
.pie-80::after {
    transform: rotate(108deg);
}
.pie-81::after {
    transform: rotate(111.6deg);
}
.pie-82::after {
    transform: rotate(115.2deg);
}
.pie-83::after {
    transform: rotate(118.8deg);
}
.pie-84::after {
    transform: rotate(122.4deg);
}
.pie-85::after {
    transform: rotate(126deg);
}
.pie-86::after {
    transform: rotate(129.6deg);
}
.pie-87::after {
    transform: rotate(133.2deg);
}
.pie-88::after {
    transform: rotate(136.8deg);
}
.pie-89::after {
    transform: rotate(140.4deg);
}
.pie-90::after {
    transform: rotate(144deg);
}
.pie-91::after {
    transform: rotate(147.6deg);
}
.pie-92::after {
    transform: rotate(151.2deg);
}
.pie-93::after {
    transform: rotate(154.8deg);
}
.pie-94::after {
    transform: rotate(158.4deg);
}
.pie-95::after {
    transform: rotate(162deg);
}
.pie-96::after {
    transform: rotate(165.6deg);
}
.pie-97::after {
    transform: rotate(169.2deg);
}
.pie-98::after {
    transform: rotate(172.8deg);
}
.pie-99::after {
    transform: rotate(176.4deg);
}
.pie-100::after {
    transform: rotate(180deg);
}